<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script  src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#but").click(function(){
            $.ajax({
                url:"http://localhost:8089/admin/test",
                success:function (result) {
                    $("#p1").html(result);
                }
            });
        });
    });

    </script>
</head>
<body>

<p width="500px" height="100px" id="p1"></p>
<button id="but">获取其他内容</button>
</body>
</body>
</html>