<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aididi.dao.master.UserDao">
    <resultMap id="BaseUserMapper" type="com.aididi.domain.User">
        <result column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="description" property="description" />
    </resultMap>
    <parameterMap id="User" type="com.aididi.domain.User"/>
    <sql id="exmpleList">
        id, user_name, description
    </sql>
    <select id="findByName" resultMap="BaseUserMapper" parameterType="java.lang.String">
        SELECT
        <include refid="exmpleList"/>
        FROM  user WHERE id=1

    </select>
</mapper>   